.mainPageCovertor::-webkit-scrollbar{
    width:0;
}

.convertorConatainer{
    display: flex;
    background-color:rgba(0, 21, 41);
    height: 60vh;
    padding: 1%;
}


.barChart{
   margin: 1%;
}

.site-card-border-less-wrapper{
    padding: 2% 0 0 0 ;
    height: 20%;
    color: white;
}

/* .convertorBG{
    margin: 2% 0 0 0;
    background-color:gray;
    height: 90%;
} */

.ant-card-head-title { 
    display: inline-block;
    flex: 1 1;
    padding: 16px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    color: white !important; 
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    color: white !important;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.css-1t8l2tu-MuiInputBase-input-MuiOutlinedInput-input {
    font: inherit;
    letter-spacing: inherit;
    color: currentColor;
    color: white !important;
    padding: 4px 0 5px;
    border: 0;
    box-sizing: content-box;
    background: none;
    height: 1.4375em;
    margin: 0;
    -webkit-tap-highlight-color: transparent;
    display: block;
    min-width: 0;
    width: 100%;
    -webkit-animation-name: mui-auto-fill-cancel;
    animation-name: mui-auto-fill-cancel;
    -webkit-animation-duration: 10ms;
    animation-duration: 10ms;
    padding: 16.5px 14px;
}

.ant-card {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: rgba(0, 0, 0, 0.85);
    font-size: 33px;
    font-variant: tabular-nums;
    line-height: 1.5715;
    list-style: none;
    font-feature-settings: 'tnum', "tnum";
    position: relative;
    background: #fff;
    border-radius: 2px;
}

.btn-exchange-rate-container{
    margin: 0px 0px;
}


.input_select{
    display: flex;
}

.convertBtn{
    background-color: #1d3557;
    color: #f1faee;
    font-size: 23%;
    padding: 20%;
}

.cryptoIcon{
    width: 100px;
    border-radius: 50%;
}

.cryptoIconOne{
    width: 80px;
    border-radius: 50%;

}

.cryptoDetails{
    display: flex;
    justify-content: space-between;
}

.keyText{
    color: white;
    font-size: 12px;
}

.ValueText{
    color: grey;
}

.convertorConatainer::-webkit-scrollbar{
    width: 0;
    }

@media screen and (max-width:1560px) {
    .convertorConatainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height:60vh;
        overflow-y: auto;
    }
    
}

@media screen and (max-width:1050px){
    .convertorConatainer{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        height: 60vh;
        overflow-y: auto;
    }
    .cardConatiner{
        margin-top: 350px;
    }
    
}